<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>OpenID Fun fest</title>
</head>
<body id="index">
    <form action="/login" method="post">
        <input type="hidden" name="identity_url" value="https://www.google.com/accounts/o8/id">
        <input type="Submit" value="Sign in with google account">
    </form>
    <form action="/login" method="post">
        <input type="hidden" name="identity_url" value="http://www.yahoo.com/">
        <input type="Submit" value="Sign in with Yahoo! account">
    </form>
</body>
</html>